---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Infos about me"
	pubDate={new Date('March 01 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
<h1>Professional Background</h1>
<p>
As a software developer, I thrive on solving complex problems and creating innovative solutions. My journey in technology has equipped me with a diverse skill set, allowing me to work on various projects that challenge my creativity and technical abilities. I enjoy collaborating with teams to bring ideas to life, whether it’s through developing applications or optimizing systems.
</p>

<h1>Passions Beyond Coding</h1>
<p>
When I'm not immersed in code, you can find me hiking and camping in nature. I believe that spending time outdoors not only rejuvenates the mind but also sparks inspiration for my work. The tranquility of the wilderness fuels my creativity and helps me approach challenges with a fresh perspective.
</p>
<h1>
Embracing New Experiences</h1>
<p>
I have a strong desire to try new things, whether it’s exploring different hiking trails, experimenting with new programming languages, or learning about emerging technologies. This curiosity drives me to continually grow both personally and professionally. I believe that stepping out of my comfort zone leads to valuable experiences that enrich my life.
</p>
</Layout>
