---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			        .text-container {
        }
			.outlined-text{
				color: white;
            text-shadow: 
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
            font-size: 64px;
            font-weight: bold;
            letter-spacing: 30px;
            line-height: 1;
            padding: -50px;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div class="text-container">
				<p class="outlined-text">EXPLORER</p>
				<p class="outlined-text">DEVELOPER</p>
			</div>
		</main>
		<Footer />
	</body>
</html>

